<html>
<head>
<style>
.footer {
	font-size:15px;
	font-family:"Baskerville Old Face";
	font-weight:bold;
	color:orange;
	clear:both;
	text-align:center;
	padding-top: 20px;
	padding-bottom: 20px;
}
</style>
</head>
<body>
	<div class="footer">
		<hr>	
		Spirit Halloween is owned by Spencer's Gifts LLC &copy; All Rights Reserved
	</div>
</body>
</html>
	