<html>
<head>
<title>Spirit Halloween Animatronic Database</title>
<img class="logo"; src="Spirit-Halloween-logo.png";height="10px";width="10px">

<span class="title";>The Spirit Halloween<br>Prop Database</span>
<style>

.logo {
	float:right;
	height:152px;
	width:250px;
}

</style>
</head>

<body>
<div class="menu">
	<div class="submenu">
		<a href="#"><button class="drpbtn">Home</button></a>
	</div>
	<div class="submenu">
		<button class="drpbtn">About</button>
		<div class="dropdown-content">
			<a href="#" target="_blank">About us</a>
		</div>
	</div>
	<div class="submenu">
		<button class="drpbtn">Props</button>
		<div class="dropdown-content">
			<a href="#" target="_blank">Characters</a>
			<a href="#" target="_blank">Manufacturers</a>
			<a href="#" target="_blank">Movements</a>
			<a href="#" target="_blank">Year</a>
		</div>
	</div>	
	<div class="submenu">
		<button class="drpbtn">Links</button>
		<div class="dropdown-content">
			<a href="https://www.spirithalloween.com/" target="_blank">Spirit's Website</a>
			<a href="#" target="_blank">Spirit Wiki</a>
		</div>
	</div>
	<div class="submenu">
		<button class="drpbtn">Account</button>
		<div class="dropdown-content">
			<a href="Login.php">Sign-in</a>
			<a href="New_Account_Collector.php">New Account</a>
		</div>
	</div>
</div>
</body>
</html>